@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(17 16 16 / var(--tw-bg-opacity, 1));
  color: #fff;
}

@layer base {
  html {
  }

  h1 {
    @apply font-semibold text-3xl;
    letter-spacing: 0.02em;
  }

  h2 {
    @apply font-medium text-2xl;
    letter-spacing: 0.02em;
  }

  h3 {
    @apply font-thin text-[22px];
    letter-spacing: 0.02em;
  }

  h4 {
    @apply font-thin text-[18px];
    letter-spacing: 0.02em;
  }

  p {
    @apply text-[15px] ;
    letter-spacing: 0.1em;
    line-height: 2;
  }
}
